<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport" />
    <meta name="theme-color" content="#7F4FE3">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.png">
    <script type="text/javascript" src="/welems.js"></script>
    {% block headmeta %}{% endblock %}
</head>
{% block content %}{% endblock %}
</html>
