<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport" />
    <meta name="theme-color" content="#7F4FE3">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.png">
    <script type="text/javascript" src="/welems.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3599489700472928",
        enable_page_level_ads: true
      });
    </script>
    <meta name="author" content="Vivek Roy"/>
    <meta property="article:author" content="https://www.facebook.com/thezealousfool"/>
    <meta property="article:publisher" content="https://www.facebook.com/thezealousfool"/>
    <meta property="og:type" content="article"/>
    <meta name="twitter:site" content="@thezealousfool">
    <meta name="twitter:creator" content="@thezealousfool">
    {% block headmeta %}{% endblock %}
</head>
{% block content %}{% endblock %}
</html>
