{% extends 'layout.njk' %}

{% block title %}Vivek Roy{% endblock %}

{% block headmeta %}
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/components.js"></script>
    <meta name="description" content="Hi, I am Vivek Roy. I love technology and this is my take on blogging about them."/>
    <meta property="og:title" content="Blog | Vivek Roy"/>
    <meta property="og:image" content="https://vivekroy.com/img/performance.svg"/>
    <meta property="og:url" content="https://vivekroy.com/blog/performance-always-matters"/>
    <meta property="og:description" content="Hi, I am Vivek Roy. I hear people say that it is okay to do something because performance doesn't matter here. My thoughts and reactions on the topic."/>
{% endblock %}

{% block content %}
<body class="route-dispatcher">
    <main id="blog" class="route-handler" role="main">
        <div class="top">
            <div class="back"></div>
            <h1>
                <a class="nav-link" href="/" get="main" to="main">
                    <div class="arrow"></div>
                    <span>Blog</span>
                </a>
            </h1>
        </div>
        <div class="bottom">
            <section>
                <article>
                    <div class="date"><span class="day">06</span><span class="month">Feb</span></div>
                    <div>
                        <a class="nav-link" href="/blog/performance-always-matters" to="main"><h1>Performance ALWAYS matters</h1></a>
                        <p>People often justify sloppy code by saying 'Performance doesn't matter here'. Here are my thoughts and reactions on the topic.</p>
                    </div>
                </article>
                <article>
                    <div class="date"><span class="day">03</span><span class="month">Feb</span></div>
                    <div>
                        <a class="nav-link" href="/blog/cpp-is-not-hard" to="main"><h1>C++ is NOT hard</h1></a>
                        <p>My attempt to make a case for <em>Modern C++</em> and why I think it can be as readable as the more popular languages out there if done right.</p>
                    </div>
                </article>
            </section>
        </div>
        <footer>
            <p>Copyright. Vivek Roy. <br> 2018-19. All rights reserved.</p>
        </footer>
    </main>
</body>
{% endblock %}
