{% extends 'layout.njk' %}

{% block title %}Vivek Roy{% endblock %}

{% block headmeta %}
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/components.js"></script>
{% endblock %}

{% block content %}
<body class="route-dispatcher">
    <main id="about" class="route-handler" role="main">
        <div class="top">
            <div class="back"></div>
            <h1>
                <a class="nav-link" href="/" get="main" to="main">
                    <div class="arrow"></div>
                    <span>About</span>
                </a>
            </h1>
        </div>
        <div class="bottom">
            <h2>He is an utter loser.</h2>
            <p>
                Dolor quia aperiam magnam temporibus fugit Ipsam at magnam et quasi nostrum pariatur voluptatibus, earum libero Autem autem rem voluptates nobis consequatur? Similique vero quos obcaecati commodi nulla, iure libero
            </p>
            <h2>He is an utter loser.</h2>
            <p>
                Dolor quia aperiam magnam temporibus fugit Ipsam at magnam et quasi nostrum pariatur voluptatibus, earum libero Autem autem rem voluptates nobis consequatur? Similique vero quos obcaecati commodi nulla, iure libero
            </p>
            <h2>He is an utter loser.</h2>
            <p>
                Dolor quia aperiam magnam temporibus fugit Ipsam at magnam et quasi nostrum pariatur voluptatibus, earum libero Autem autem rem voluptates nobis consequatur? Similique vero quos obcaecati commodi nulla, iure libero
            </p>
            <h2>He is an utter loser.</h2>
            <p>
                Dolor quia aperiam magnam temporibus fugit Ipsam at magnam et quasi nostrum pariatur voluptatibus, earum libero Autem autem rem voluptates nobis consequatur? Similique vero quos obcaecati commodi nulla, iure libero
            </p>
            <h2>He is an utter loser.</h2>
            <p>
                Dolor quia aperiam magnam temporibus fugit Ipsam at magnam et quasi nostrum pariatur voluptatibus, earum libero Autem autem rem voluptates nobis consequatur? Similique vero quos obcaecati commodi nulla, iure libero
            </p>
            <h2>He is an utter loser.</h2>
            <p>
                Dolor quia aperiam magnam temporibus fugit Ipsam at magnam et quasi nostrum pariatur voluptatibus, earum libero Autem autem rem voluptates nobis consequatur? Similique vero quos obcaecati commodi nulla, iure libero
            </p>
            <h2>He is an utter loser.</h2>
            <p>
                Dolor quia aperiam magnam temporibus fugit Ipsam at magnam et quasi nostrum pariatur voluptatibus, earum libero Autem autem rem voluptates nobis consequatur? Similique vero quos obcaecati commodi nulla, iure libero
            </p>
            <h2>He is an utter loser.</h2>
            <p>
                Dolor quia aperiam magnam temporibus fugit Ipsam at magnam et quasi nostrum pariatur voluptatibus, earum libero Autem autem rem voluptates nobis consequatur? Similique vero quos obcaecati commodi nulla, iure libero
            </p>
        </div>
        <footer>
            <p>Copyright. Vivek Roy. <br> 2018-19. All rights reserved.</p>
        </footer>
    </main>
</body>
{% endblock %}
