{% extends 'layout.njk' %}

{% block title %}Vivek Roy{% endblock %}

{% block headmeta %}
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/components.js"></script>
{% endblock %}

{% block content %}
<body class="route-dispatcher">
    <main id="about" class="route-handler" role="main">
        <div class="top">
            <div class="back"></div>
            <h1>
                <a class="back-link" href="/">
                    <div class="arrow"></div>
                    <span>About</span>
                </a>
            </h1>
        </div>
        <div class="bottom">
            <section>
                <h1>Experience</h1>
                <article>
                    <h3>Carnegie Mellon University</h3>
                    <em>Dr. Martial Hebert</em>
                    <p class="period">Summer 2018</p>
                    <p>Visual Object Tracking using Optical Flow as input to a CNN. Robotics Institute Summer Scholars (RISS) 2018</p>
                </article>
                <article>
                    <h3>Google Summer of Code 2017</h3>
                    <em>Haiku Inc.</em>
                    <p class="period">Summer 2017</p>
                    <p>3D Hardware Accelerated Graphics Drivers for HaikuOS.</p>
                </article>
                <article>
                    <h3>Defence Research and Development Organisation of India</h3>
                    <em>Prof. Chandan Mazumdar</em>
                    <p class="period">Undergraduate Development Work</p>
                    <p>PolComp: a tool for analysing log records to detect compliance of policies and hence security breaches using Natural Language Processing for The Defence Research and Development Organisation of India (DRDO)</p>
                </article>
                <article>
                    <h3>Jadavpur University</h3>
                    <em>Dr. Sanjoy Kumar Saha</em>
                    <p class="period">Undergraduate Research Work</p>
                    <p><strong>Image Captioning</strong> using Generative Adversarial Networks (GANs) and Reinforcement Learning (RL)</p>
                </article>
                <article>
                    <h3>Jadavpur University</h3>
                    <em>Dr. Sanjoy Kumar Saha</em>
                    <p class="period">Undergraduate Research Work</p>
                    <p><strong>Visual Odometry</strong> using Neural Networks to perform real time path estimation.</p>
                </article>
            </section>
            <section>
                <h1>Education</h1>
                <article>
                    <h3>Bachelor of Computer Science and Engineering</h3>
                    <em>Jadavpur University</em>
                    <p class="period">2015-19</p>
                    <p>CGPA: <strong>8.6/10</strong></p>
                </article>
                <article>
                    <h3>Higher Secondary Education</h3>
                    <em>D.A.V Model School, Durgapur, India</em>
                    <p class="period">2013-15</p>
                    <p>Percentage marks: <strong>93%</strong></p>
                </article>
                <article>
                    <h3>Secondary Education</h3>
                    <em>St. Xavier's School, Durgapur, India</em>
                    <p class="period">2002-13</p>
                    <p>Percentage marks: <strong>94%</strong></p>
                </article>
            </section>
        </div>
        <footer>
            <p>Copyright. Vivek Roy. <br> 2018-19. All rights reserved.</p>
        </footer>
    </main>
</body>
{% endblock %}
