{% extends 'layout.njk' %}

{% block title %}Vivek Roy{% endblock %}

{% block headmeta %}
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/components.js"></script>
{% endblock %}

{% block content %}
<body class="route-dispatcher">
    <main id="contact" class="route-handler" role="main">
        <div class="top">
            <div class="back"></div>
            <h1>
                <a class="nav-link" href="/" get="main" to="main">
                    <div class="arrow"></div>
                    <span>Contact</span>
                </a>
            </h1>
        </div>
        <div class="bottom">
            <section>
                <ul>
                    <li>
                        <a class="underline" href="mailto:vivek@vivekroy.com">
                            <svg><use xlink:href="/img/social.svg#mail"/></svg>
                            <span>vivek@vivekroy.com</span>
                        </a>
                    </li>
                    <li>
                        <a class="underline" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/thezealousfool">
                            <svg><use xlink:href="/img/social.svg#lin"/></svg>
                            <span>/thezealousfool</span>
                        </a>
                    </li>
                    <li>
                        <a class="underline" target="_blank" rel="noopener noreferrer" href="https://github.com/thezealousfool">
                            <svg><use xlink:href="/img/social.svg#gh"/></svg>
                            <span>/thezealousfool</span>
                        </a>
                    </li>
                    <li>
                        <a class="underline" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/thezealousfool">
                            <svg><use xlink:href="/img/social.svg#fb"/></svg>
                            <span>/thezealousfool</span>
                        </a>
                    </li>
                    <li>
                        <a class="underline" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/thezealousfool">
                            <svg><use xlink:href="/img/social.svg#insta"/></svg>
                            <span>#thezealousfool</span>
                        </a>
                    </li>
                    <li>
                        <a class="underline" target="_blank" rel="noopener noreferrer" href="https://twitter.com/thezealousfool">
                            <svg><use xlink:href="/img/social.svg#twit"/></svg>
                            <span>@thezealousfool</span>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <footer>
            <p>Copyright. Vivek Roy. <br> 2018-19. All rights reserved.</p>
        </footer>
    </main>
</body>
{% endblock %}
