{% extends 'layout.njk' %}

{% block title %}Vivek Roy{% endblock %}

{% block headmeta %}
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/components.js"></script>
    <meta name="description" content="Hi. I am Vivek Roy, a computer science student and occasional blogger."/>
    <meta property="og:title" content="Vivek Roy"/>
    <meta property="og:image" content="https://vivekroy.com/img/homepage.png"/>
    <meta property="og:image" content="https://vivekroy.com/img/homepage_square.png"/>
    <meta name="twitter:image" content="https://vivekroy.com/img/homepage_square.png"/>
    <meta property="og:image" content="https://vivekroy.com/img/homepage_small.png"/>
    <meta property="og:url" content="https://vivekroy.com"/>
    <meta property="og:description" content="Hi. I am Vivek Roy, a computer science student and occasional blogger."/>
{% endblock %}

{% block content %}
<body class="route-dispatcher">
    <main id="home" class="route-handler" role="main">
        <div class="top">
            <div class="back"></div>
            <h1><span>Vivek</span><br><span>Roy</span></h1>
        </div>
        <div class="bottom">
            <nav>
                <ul>
                    <li><a class="nav-link" href="/blog/" get="main" to="main">Blog</a></li>
                    <li><a class="nav-link" href="/about" get="main" to="main">About</a></li>
                    <li><a class="nav-link" href="/contact" get="main" to="main">Contact</a></li>
                    <li><a href="/CV.pdf" target="_blank" rel="noopener noreferrer">CV</a></li>
                </ul>
            </nav>
        </div>
        <footer>
            <p>Copyright. Vivek Roy. <br> 2018-19. All rights reserved.</p>
        </footer>
    </main>
</body>
{% endblock %}
