@import 'prism_tomorrow';

#blog {
    .bottom {
        margin-left: 0.5rem;
        margin-top: 35vw;
        @media screen and (min-width: 500px) and (min-height: 500px) {
            margin: 27vw 2rem 2rem 2rem;
        }
        @media screen and (min-width: 500px) and (max-height: 500px),
           screen and (min-width: 900px) {
            margin: 6vh 2rem 6vh 45vw;
        }
    }
    article {
        display: flex;
        margin: 1.5em 0 1.5em 0;
        h1 {
            margin-top: 0;
            margin-bottom: 0.2em;
        }
    }
    .date {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #ababab;
        line-height: 1;
        margin-right: 1rem;
        @media screen and (min-width: 500px) and (min-height: 500px) {
            margin-right: 1.5rem;
        }
    }
    .day {
        font-size: 3.75em;
        letter-spacing: -0.05em;
    }
    .month {
        font-size: 2em;
    }
    .post {
        margin-left: 1.5rem;
        .title {
            font-size: 3em;
            margin-bottom: 0.1em;
            line-height: 1;
        }
        .pdate {
            font-size: 1.2em;
            margin: 0 0 1.5em .5em;
            color: #777;
            font-weight: 500;
        }
        .underline {
            border-bottom: 1px solid;
            color: #5F6BE4;
        }
        .banner {
            width: 100%;
            max-height: 40vh;
            margin: auto;
        }
        section {
            margin-top: 2em;
            margin-bottom: 2em;
        }
        h2,h3 {
            margin-top: 1.6em;
            margin-bottom: .8em;
        }
        p {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        ul {
            padding-left: 1.5em;
        }
        li {
            margin: .5em 0 .5em 0;
        }
        hr {
            width: 200px;
            margin: auto;
        }
        .code {
            padding: 1rem;
            box-sizing: border-box;
            pre {
                border-radius: 4px;
            }
            p {
                font-size: 0.85em;
                text-align: center;
            }
        }
        code.inline {
            color: inherit;
        }
    }
    @media screen and (min-width: 500px) and (max-height: 500px),
           screen and (min-width: 900px) {
        .bottom {
            margin: 6vh 2rem 6vh 45vw;
        }
    }
}

#blog.animin {
    .top {
        animation-name: slideDownExpo;
        h1 {
            animation-name: slideDownExpo;
            animation-delay: 0.5s;
        }
    }
    .post {
        animation-name: postSlideUp;
        animation-delay: 0.5s;
    }
    article {
        animation-name: slideInRight;
        animation-duration: 0.5s;
        @for $i from 0 through 4 {
            &:nth-child(#{($i + 1)}) {
                animation-delay: #{(1 + $i * 0.15)}s;
            }
        }
    }
    footer {
        animation-name: fadeIn;
        animation-delay: 1.5s;
    }
    @media screen and (min-width: 500px) and (max-height: 500px),
           screen and (min-width: 900px) {
        .top {
            animation-name: slideRightExpo;
            h1 {
                animation-name: slideRightExpo;
            }
        }
    }
}

#blog.animout {
    * {
        animation-fill-mode: forwards;
    }
    .top {
        animation-name: slideUpExpo;
        h1 {
            animation-name: slideUpExpo;
        }
    }
    .post {
        animation-name: postSlideDown;
        animation-delay: 0.3s;
        animation-duration: 0.7s;
    }
    article {
        animation-name: slideOutRight;
        @for $i from 0 through 4 {
            &:nth-child(#{($i + 1)}) {
                animation-delay: #{($i * 0.1)}s
            }
        }
    }
    footer {
        animation-name: fadeOut;
        animation-duration: 0.5s;
    }
    @media screen and (min-width: 500px) and (max-height: 500px),
           screen and (min-width: 900px) {
        .top {
            animation-name: slideLeftExpo;
        }
    }
}
