* {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

h1,h2,h3,h4,strong {
    font-weight: 900;
}

body {
    font-family: BlinkMacSystemFont,-apple-system,Roboto,"Segoe UI","Fira Sans",Ubuntu,Oxygen-Sans,Cantarell,"Helvetica Neue",Arial,sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #222;

    h1 {
        font-size: 2em;
        letter-spacing: -0.02em;
    }

    h2 {
        font-size: 1.5em;
    }

    @media screen and (max-width: 500px) {
        h1 {
            font-size: 1.67em;
        }
        h2 {
            font-size: 1.25em;
        }
    }
    @media screen and (min-width: 900px) {
        font-size: 1.4em;
    }
}
