* {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI","Fira Sans",Roboto,Ubuntu,Oxygen-Sans,Cantarell,"Helvetica Neue",Arial,sans-serif;
    font-weight: 300;
}

h1,h2,h3,h4 {
    font-weight: 900;
}

#content {
    font-size: 1.2em;

    @media screen and (max-width: 500px) {
        h1 {
            font-size: 1.67em;
        }
        h2 {
            font-size: 1.25em;
        }
    }
    @media screen and (min-width: 900px) {
        font-size: 1.4em;
    }
}
