@import 'normalize';
@import 'fonts';

#home {
    background-color: #ECF0F1;

    main {
        padding: 7vw;
        text-align: center;

        img {
            width: 80%;
            max-width: 350px;
            margin-top: 5vh;
            display: inline-block;
            border-radius: 50%;
        }
        h1 {
            font-size: 3em;
            font-weight: 700;
            margin-top: 0.4em;
            position: relative;
            left: 0.5em;
            letter-spacing: -0.5px;
            color: #2C3E50;
            span {
                position: relative;
                color: #E74C3C;
                top: 0.6em;
                left: -1.2em;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: -1px;
            }
        }
        h3 {
            margin-top: 0.5em;
            font-size: 1.1em;
            font-weight: 300;
        }
        nav {
            margin: 2em auto;

            a {
                color: #3498DB;
                font-weight: 700;
                display: inline-block;
                padding: 1em;
                @media screen and (max-width: 400px) {
                    padding: 0.7em;
                }
            }
        }
    }
    footer {
        text-align: center;
        font-size: 0.8em;
        p {
            color: #555;
        }
    }
}
