@import 'normalize';
@import 'fonts';

#home {
    // background-color: #22D0D0;

    main {
        padding: 7vw;
        text-align: center;

        img {
            width: 500px;
            max-width: 60%;
            margin-left: 5%;
            margin-top: 5vh;
            display: inline-block;
            border-radius: 50%;
            animation: zoom 0.4s forwards ease-in;
            animation-delay: 0.5s;
            opacity: 0;
        }
        h1 {
            font-size: 3em;
            font-weight: 500;
            margin-top: 0.4em;
            margin-bottom: 0;
            animation: scale-up 0.5s forwards ease-in-out;
            opacity: 0;
            span {
                text-transform: uppercase;
                font-family: inherit;
                font-weight: 700;
            }
        }
        h3 {
            margin-top: 0.5em;
            font-size: 1.1em;
            font-weight: 300;
            animation: scale-up 0.5s forwards ease-in-out;
            animation-delay: 0.15s;
            opacity: 0;
        }
        nav {
            margin: 2em auto;

            a {
                color: #8831d9;
                font-weight: 500;
                display: inline-block;
                padding: 1em;
                animation: slide-right 0.4s forwards ease-in-out;
                opacity: 0;
            }
            @for $i from 1 through 4 {
                a:nth-child(#{$i}) {
                    animation-delay: 0.7 + $i * 0.1 + s;
                }
            }
        }
    }
    footer {
        text-align: center;
        font-size: 0.8em;
    }
}

@keyframes zoom {
    from {
        transform: scale(0.4);
    }
    to {
        opacity: 1;
    }
}

@keyframes scale-up {
    from {
        transform: translateY(50px);
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(50px);
    }
    to {
        opacity: 1;
    }
}
