@import 'fonts';

body {
  max-width: 1200px;
  margin: auto;
  padding: 1.5em;
}

header {
  h1 {
    font-weight: 300;
    font-size: 3em;
    text-align: center;
  }
  .authors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    * {
      text-align: center;
    }

    h3 {
      margin: 0;
      font-weight: 600;
    }

    >div {
      margin: 0.5em;
    }
  }
}

main {
  margin-top: 3em;

  h1 {
    span {
      font-weight: normal;
    }
  }
}

.svg {
  display: flex;
  justify-content: center;
  img {
    width: 90%;
    max-width: 600px;
  }
}

mjx-container {
  overflow: auto;
}

table {
 border: 1px solid #2d2d2d;
 border-collapse: collapse;
 overflow: auto;
 width: 100%;

 thead {
   font-weight: 600;
   background-color: #EEE;
   tr {
     border-bottom: 1px solid #2d2d2d;
   }
 }
 th {
   padding: 0.7em;
 }

 td {
   text-align: center;
   padding: 0.25em;
 }
}

a {
  color: #1a73e8;
}
